.header {
  width: 1440px;
  height: 700px;
  margin: 0 auto;
  background-image: url(./img_desktop/header_bg.png);
  background-position: center;
  position: relative;
}

.header_logo {
  position: absolute;
  width: 152px;
  height: 24px;
  left: 248px;
  top: 46px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.header_log_in_btn {
  position: absolute;
  width: 44px;
  height: 17px;
  left: 996px;
  top: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: none;
  border: none;
  cursor: pointer;
}

.header_sing_up_btn {
  position: absolute;
  width: 90px;
  height: 36px;
  left: 1059px;
  top: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: none;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  cursor: pointer;
}

.header_big_text {
  position: absolute;
  width: 470px;
  height: 126px;
  left: 485px;
  top: 223px;
  font-weight: 700;
  font-size: 52px;
  line-height: 63px;
  text-align: center;
  color: #FFFFFF;
}

.heder_min_text {
  position: absolute;
  width: 396px;
  height: 25px;
  left: 522px;
  top: 378px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #F7F3F2;
}

.header_red_btn {
  position: absolute;
  width: 225px;
  height: 40px;
  left: 608px;
  top: 436px;
  border: none;
  background: #FF4E50;
  border-radius: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  cursor: pointer;
}

.main {
  margin: 0 auto;
  width: 1440px;
}

.container_steps {
  position: relative;
  width: 940px;
  height: 461px;
  left: calc(50% - 470px);
  top: 95px;
}

.container_steps_text {
  position: absolute;
  width: 342px;
  height: 32px;
  left: 299px;
  top: -6px;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #444444;
}

.step {
  position: absolute;
  width: 300px;
  height: 400px;
}

.one {
  left: 0px;
  top: 61px;
  background-image: url(./img_desktop/Step_1.png);
}

.two {
  left: 320px;
  top: 61px;
  background-image: url(./img_desktop/Step_2.png);
}

.three {
  left: 640px;
  top: 61px;
  background-image: url(./img_desktop/Step_3.png);
}

.step_1_btn {
  position: absolute;
  width: 70px;
  height: 20px;
  left: 25px;
  top: 219px;
  border: none;
  background: #FF4E50;
  border-radius: 40px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.step_1_max_text {
  position: absolute;
  width: 250px;
  height: 58px;
  left: 25px;
  top: 254px;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #FFFFFF;
}

.step_1_min_text {
  position: absolute;
  width: 250px;
  height: 57px;
  left: 25px;
  top: 322px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #E3E3E3;
}

.two_btn {
  left: 25px;
  top: 250px;
}

.step_2_max_text {
  position: absolute;
  width: 250px;
  height: 29px;
  left: 25px;
  top: 284px;
  font-weight: 700;
  font-size: 24px;
  line-height: 14px;
  color: #FFFFFF;
}

.step_2_min_text {
  position: absolute;
  width: 250px;
  height: 57px;
  left: 25px;
  top: 322px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #E3E3E3;
}

.container_partner {
  position: relative;
  width: 941px;
  height: 361px;
  left: 250px;
  top: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partner_text {
  position: absolute;
  width: 491px;
  height: 32px;
  left: 226px;
  top: -6px;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  align-items: flex-end;
  text-align: center;
  color: #444444;
}

.container_people {
  position: relative;
  width: 221px;
  height: 205px;
}

.partner_btn {
  position: absolute;
  width: 180px;
  height: 40px;
  left: 381px;
  top: 321px;
  background: #FFFFFF;
  border: 2px solid #FF4E50;
  border-radius: 40px;
  color: #FF4E50;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}

.name {
  position: absolute;
  width: 221px;
  height: 18px;
  left: 0px;
  top: 137px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #444444;
}

.min_text_people {
  position: absolute;
  width: 221px;
  height: 38px;
  left: 0px;
  top: 167px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #666666;
}

.avatar {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 51px;
  top: 0px;
  border-radius: 50%;
}

.avatar_img {
  border-radius: 50%;
}

.min_img {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 88px;
  top: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF4E50;
  border-radius: 50%;
  border: 4px solid white;
}

.green {
  background: #19D4CA;
}

.yellow {
  background: #FFA710;
}

.blue {
  background: #667DF3;
}

.container_cards {
  position: relative;
  width: 940px;
  height: 1031px;
  left: calc(50% - 470px);
  top: 240px;
}

.cards_text_top {
  position: absolute;
  width: 413px;
  height: 32px;
  left: 264px;
  top: -6px;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #444444;
}

.size_one {
  position: absolute;
  width: 300px;
  height: 310px;
}

.size_second {
  position: absolute;
  width: 620px;
  height: 310px;
}

.sport {
  left: 0px;
  top: 61px;
  background-image: url(./img_desktop/Sport.png);
}

.health {
  left: 320px;
  top: 61px;
  background-image: url(./img_desktop/Healath.png);
}

.extreme {
  left: 640px;
  top: 61px;
  background-image: url(./img_desktop/Extreme.png);
}

.games {
  left: 0px;
  top: 391px;
  background-image: url(./img_desktop/Games.png);
}

.culture {
  left: 320px;
  top: 391px;
  background-image: url(./img_desktop/Culture.png);
}

.relaxation {
  left: 0px;
  top: 721px;
  background-image: url(./img_desktop/Relaxation.png);
}

.trevelling {
  left: 640px;
  top: 721px;
  background-image: url(./img_desktop/Traveling.png);
}

.container_create {
  position: relative;
  width: 482px;
  height: 158px;
  left: calc(50% - 241px);
  top: 330px;
}

.create_max_text {
  position: absolute;
  width: 357px;
  height: 32px;
  left: 63.5px;
  top: -6px;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #444444;
}

.create_text {
  position: absolute;
  width: 415px;
  height: 24px;
  left: 35px;
  top: 69px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 14px;
  text-align: center;
  color: #666666;
}

.create_input {
  position: absolute;
  width: 299px;
  height: 40px;
  left: 0px;
  top: 118px;
  background: #FFFFFF;
  border: 1px solid #D4D4D4;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
  border-radius: 3px;
  padding: 14px;
}

.create_btn {
  position: absolute;
  width: 172.12px;
  height: 40px;
  left: 309px;
  top: 118px;
  background: #FF4E50;
  border-radius: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
}

.footer {
  position: relative;
  width: 1440px;
  height: 296px;
  margin: 0 auto;
  top: 430px;
  border-top: 3px solid #FF4E50;
}

.red_text {
  position: absolute;
  width: 119px;
  height: 20px;
  left: 249px;
  top: 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FF4E50;
}

.company_text {
  position: absolute;
  width: 70px;
  height: 17px;
  left: 490px;
  top: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
}

.footer_partner_text {
  position: absolute;
  width: 64px;
  height: 17px;
  left: 729px;
  top: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
}

.design {
  position: absolute;
  width: 85px;
  height: 12px;
  left: 1110px;
  top: 40px;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #CCCCCC;
}

.footer_logo {
  position: absolute;
  width: 110px;
  height: 24px;
  left: 1080px;
  top: 59px;
}

.block_list {
  position: absolute;
  width: 114px;
  height: 156px;
  left: 490px;
  top: 68px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
}

/*# sourceMappingURL=style.css.map */
